*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background-color: rgb(240, 238, 235);
}



.container h1{
  text-align: center;
  font-size: 2rem;
  color: brown;
  padding: 20px;
}
.container .image{
  width: 80px;
}


.items{
  margin:20px 100px;
}


table{
  width: 100%;
  border-collapse: collapse;
}

.qty{
  

 & span{
    border:  1px solid gray;
    padding: 0.5rem; 
    margin-inline: 1rem;
  }

  button{
    padding: 0.5rem;

  }
}

.decrease{
  pointer-events: none;
}

th{
  height: 45px;
}

td{
  text-align: center;
}

td:first-child{
  text-align: left;
}

th{
  background-color: green;
  color: white;
}


th:first-child{
  text-align: left;
}
table,th,td{
  border: 1px solid gray;
}

.cart-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.table-cart table{
  width: 70%;
}