*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container{
  background-color: rgb(240, 238, 235);
}
.container .image{
  width: 100px;
}
table{

  width: 100%;
  border-collapse: collapse;
}

th{
  height: 45px;
}

td{
  /* text-align: center; */
}
table,th,td{
  border: 1px solid black;
}